<h3>
    Обновление представления
</h3>
<form [formGroup]="form" class="form" mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Название</mat-label>
        <input 
            matInput 
            formControlName="title" 
            required
            type="text">
        <mat-error>
            <val-errors controlName="title"></val-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Описание</mat-label>
        <textarea matInput 
        formControlName="descr" 
        rows="5" 
        cols="30" 
        required></textarea>
        <mat-error>
            <val-errors controlName="descr"></val-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Цена билета</mat-label>
        <input 
        matInput
        required
        formControlName="price" type="number" step="5" min="0" max="500">
        <mat-error>
            <val-errors controlName="price"></val-errors>
        </mat-error>
    </mat-form-field>

    <div class="file-upload">
        <span>Выберите обложку</span>
        <div *ngIf="form.value.posterPath">
            <img class="poster-preview" [src]="form.value.posterPath" alt="">
        </div>
        <label class="file-input-wrapper">
            <input (change)="onAddImage($event)" type="file" class="file-input" accept="image/jpeg, image/png, image/jpg, image/gif" />
            <span class="file-input-btn">Выбрать</span>
        </label>
        <mat-error *ngIf="form.get('posterPath')?.hasError('required')">
            Необходимо загрузить обложку
        </mat-error>
    </div>

    <mat-form-field>
        <mat-label>
            Режиссер
        </mat-label>
        <input 
        matInput
        required
        formControlName="director" type="text">
        <mat-error>
            <val-errors controlName="director"></val-errors>
        </mat-error>
    </mat-form-field>
    

    <mat-form-field>
        <mat-label>
            Страна
        </mat-label>
        <input 
        matInput
        required
        formControlName="country" type="text">
        <mat-error>
            <val-errors controlName="country"></val-errors>
        </mat-error>
    </mat-form-field>

    <div class="footer">
        <button 
        mat-flat-button
        (click)="cancel()">Отмена</button>
        <button 
        mat-flat-button
        color="accent"
        (click)="submit()">Обновить</button>
    </div>
</form>