:host {
    display: block;
    min-width: 400px;
	padding: 10px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

textarea {
	resize: none;
	min-height: 150px;
}

.poster-preview {
	width: 300px;
	height: 300px;
	object-fit: contain;
}

.file-input {
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.file-input-btn {
	background-color: var(--secondary);
	color: #000;
	padding: 4px 10px;
	cursor: pointer;
}

.file-upload {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

mat-error {
    font-size: 12px;
}

@media (max-width: 480px) {
	:host {
		min-width: 300px;
	}
}