<footer>

    <div class="wrapperContent">
        <a routerLink="/main/app" class="footer-logo">
            <img src="assets/images/logo.svg" alt="">
        </a>
        <div class="footer-navigation">
            <a routerLink="/main/app/sessions" id="first">Сеансы</a>
            <a routerLink="/main/app/news">Новости</a>
            <a routerLink="/main/app/games" id="last">Игры</a>
        </div>
        <div class="footer-icons">
            <img src="assets/images/facebook.png" alt="#">
            <img src="assets/images/instagram.png" alt="#">
            <img src="assets/images/twitter.png" alt="#">
        </div>

    </div>
    <span>@Something 2019-2023</span>
</footer>