:host {
    * {
        margin: 0px;
        padding: 0px;
        /* background-image: url('/assets/images/mainBgc.png'); */
        color: #9E9E9E;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 20px 20px 40px 20px;
    }
    .burger {
        display: none;
    }
    mat-progress-bar {
        width: 100%;
        z-index: 5;
        height: 2px;
        background-color: #fff;
    }
    .header-progress {
        align-items: center;
        width: 100%;
        display: flex;
        position: relative;
        height: 50px;
    }
    .header-progress-navigation {
        position: relative;
    }
        
    .header-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;

        a {
            color: #fff;
            padding: 5px 12px;
            // margin: 0 10px;
            cursor: pointer;
            text-decoration: none;
            position: relative;
            transition: .2s;

            &:hover {
                &::after {
                    left: 0;
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 2px;
                background-color: var(--secondary);
                border-radius: 10px;
                transition: .2s;
                z-index: -1;
            }
        }
    }
    .header-progress-navigation:hover .star {
        opacity: 1;
        transform: scale(1.8) rotate(60deg);
    }
    .star {
        width: 15px;
        height: 15px;
        position: absolute;
        z-index: 6;
        transition: 0.2s;
        // opacity: 0;
    }
    .logo {
        display: flex;
        flex-direction: column-reverse;
        img {
            height: 45px;
            cursor: pointer;
        }
    }
    .logIn {
        .login-button {
            display: block;
            background-color: rgba(28, 28, 28, 0);
            // height: 40px;
            // width: 120px;
            border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
            border-image-slice: 1;
            color: #fff;
            cursor: pointer;
            animation-duration: 2s;
            font-size: 16px;
            padding: 12px 18px;
        }
        .login-button:hover {
            // color: #ffffff;
            animation-name: gradientBorder;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    @keyframes gradientBorder {
        0% {
            border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
            border-image-slice: 1;
        }
        25% {
            border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #a958dc 80%);
            border-image-slice: 1;
        }
        50% {
            border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, #f684c6 80%);
            border-image-slice: 1;
        }
        75% {
            border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 20%, #f5d98d 80%);
            border-image-slice: 1;
        }
        100% {
            border-image: linear-gradient(360deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
            border-image-slice: 1;
        }
    }
}

@media (max-width:1000px) {
    .burger {
        display: block !important;
    }
    .header-progress-navigation,
    .logIn {
        display: none !important;
    }
    .login-button {
        background-color: rgba(28, 28, 28, 0);
        border: 0;
    }
    .logo {
        padding-left: 0 !important;
    }
}