.host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100%;
    background-color: #000000;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    .exit {
        position: absolute;
        top: 10px;
        right: 10px;
        button {
            padding: 0;
            background-color: #000000;
            cursor: pointer;
        }
    }
    h3 {
        color: #6858DC;
    }
    .content {
        display: flex;
        flex-direction: row;
        img {
            width: 125px;
            height: 180px;
            border-radius: 10px;
        }
        .content-text {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            span {
                padding-bottom: 10px;
            }
            .title {
                color: #E7D795;
                font-size: 18px;
                font-weight: bold;
            }
            .text {
                opacity: 0.6;
            }
            .date {
                padding-top: 20px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
     ::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex input {
        color: black !important;
    }
    .add-info {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 10px;
        }
        .add-info-number {
            padding: 30px 0;
            color: #9E9E9E;
        }
    }
    .create-account-form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        color: #FFFFFF;
        input {
            color: #FFFFFF;
        }
    }
    .btn {
        display: flex;
        flex-direction: column;
        color: #9E9E9E;
        button {
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}

.error-message {
    color: lime;
}

.check {
    padding-bottom: 15px;
    p {
        margin: 10px 0;
    }
}