<div class="wrapper">
    <h3>/ Оплата</h3>
    <div class="content">
        <img [src]="booking.show.poster_src" alt="">
        <!-- <img [src]="(api + '/posters/' + booking.show.poster_src) | safeUrl" alt=""> -->
        <div class="content-text">
            <span class="title">{{booking.show.title}}</span>
            <span class="date">Дата и время: {{ datetime }}</span>
            <span class="address">Адрес: {{ address }}</span>
        </div>
    </div>
    <div class="add-info">
        <div class="price">
            <span>Кол-во билетов: {{booking.places.length}}</span>
            <span>Стоимость {{booking.show.price * booking.places.length}} BYN</span>
        </div>
        <div class="check">
            <p>Места:</p>
            <p *ngFor="let seat of booking.places">
                {{ seat.side === 'left' ? 'Слева' : 'Справа' }}, ряд {{ seat.row }}, место {{ seat.place }}.
            </p>
        </div>
    </div>
    <form class="create-account-form">
        <mat-form-field>
            <mat-label>Введите вашу почту</mat-label>
            <input (input)="onChangeEmail($event)" matInput visibility>
        </mat-form-field>
        <p class="error-message" *ngIf="noEmailError">
            <span>Необходимо указать e-mail</span>
            <span class="login-link" (click)="goToLogin()">либо выполнить вход</span>
        </p>
    </form>
    <div class="btn">
        <button type="submit" mat-flat-button color="primary" (click)="makeBooking()">Оформить</button>
        <button mat-flat-button (click)="cancel()">Отмена</button> </div>
</div>