.wrapper {
	padding: 20px 20px 30px;
}

.tags-list {
	display: flex;
	flex-direction: column;
}

.tag-item {
	width: 100%;
}

.footer {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	margin-top: 20px;
}

.cancel-btn {
	background-color: #fff;
	color: #333;
}