.wrapper {
  margin: 0 auto;
  max-width: calc(100% - 100px);
  background-color: #E7D795;
  border-radius: 20px;
  padding: 10px 20px;
}

.wrapper-view {
  max-width: 1400px;
  margin: 0 auto;
  min-height: max(60vh, 400px);
}

.section-title {
  color: #6858dc;
}

.tags-list {
  display: flex;
  gap: 10px;
}
.tag-item {
  padding: 10px 18px;
  background-color: #8e47f9;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #8e47f9;
  transition: .3s;
  
  &:hover {
    background-color: transparent;
    color: #8e47f9;
  }
}
.tag-item-add {
  padding: 10px 18px;
  border: 2px solid #8e47f9;
  border-radius: 20px;
  color: #8e47f9;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #fff;
    background-color: #8e47f9;
  }
}

.title {
  color: #6858dc;
  font-family: ttTravel-bold;
  font-size: 32px;
  line-height: 12px;
}

.header {

  & .row {
    display: flex;
    align-items: center;
  }
}


.booking {
  position: relative;
  padding-bottom: 200px;

  &-item-header {
    background-color: #c8c4e8;
  }

  &-show {
    font-size: 20px;
    font-weight: 600;
  }
}

.logout-btn {
  margin-left: auto;
}

.avatar-img {
  height: 260px;
  position: absolute;
  bottom: 0;
  right: -60px;
  object-fit: contain;
}

.news {
  margin-top: -40px;
  min-height: 300px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &-item {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    color: #333;
    cursor: pointer;

    &-photo {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    &-content {
      padding: 10px;
    }

    &-title {
      color: #8e47f9;
    }

    &-tags {
      display: flex;
      gap: 10px;
    }

    &-tag {
      padding: 5px 10px;
      background-color: #8e47f9;
      color: #fff;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}