.wrapper {
  margin: 0 auto;
  max-width: calc(100% - 100px);
  background-color: #E7D795;
  border-radius: 20px;
  padding: 10px 20px;
}

.wrapper-view {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 240px;
  min-height: max(60vh, 400px);
  position: relative;
}

.title {
  color: #6858dc;
  font-family: ttTravel-bold;
  font-size: 32px;
  line-height: 12px;
}

.header {

  & .row {
    display: flex;
    align-items: center;
  }
}

.booking {
  &-item-header {
    background-color: #c8c4e8;
  }

  &-show {
    font-size: 20px;
    font-weight: 600;
  }
}

.logout-btn {
  margin-left: auto;
}

.avatar-img {
  height: 360px;
  position: absolute;
  bottom: 0;
  right: -60px;
  object-fit: contain;
}
