
<div class="title-wrapper container">
	<span class="subtitle">Управление</span>
	<h1 class="title">Билеты</h1>
</div>

<div class="main container">

	<table mat-table [dataSource]="bookings" class="mat-elevation-z8">
	  
		<ng-container matColumnDef="id">
		  <th mat-header-cell *matHeaderCellDef>No.</th>
		  <td mat-cell *matCellDef="let booking"> {{booking.id}} </td>
		</ng-container>
	  
		<ng-container matColumnDef="title">
		  <th mat-header-cell *matHeaderCellDef>Название</th>
		  <td mat-cell *matCellDef="let booking"> {{booking.title}} </td>
		</ng-container>
	  
		<ng-container matColumnDef="price">
		  <th mat-header-cell *matHeaderCellDef>Цена билета</th>
		  <td mat-cell *matCellDef="let booking">{{booking.price}} BYN</td>
		</ng-container>
	  
		<tr mat-header-row *matHeaderRowDef="columns"></tr>
		<tr mat-row *matRowDef="let row; columns: columns;"></tr>
	</table>

</div>