<div class="wrapper">
    <h3>/ Новости</h3>
    <div class="wrapper-content">
        <div class="news-container">
            <div class="news-item" *ngFor="let item of news">
                <img (click)="openNewsModal(item)" [src]="item.photo" alt="">
                <!-- <img (click)="openNewsModal(item)" [src]="(api + '/news/' + item.photo) | safeUrl" alt=""> -->
                <!-- <img (click)="openNewsModal(item)" [src]="'http://localhost:5050/news/' + item.photo" alt=""> -->
                <div class="new-tags">
                    <span>{{item.title}}</span>
                </div>
                <span class="content">
                    {{ item.text[0] }}
                </span>
                <div class="news-item-tags" *ngIf="item.tags.length > 0">
                    <span *ngFor="let tag of item.tags" class="news-item-tag">
                        {{ tag.name }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>