:host {
    .wrapper {
        width: 80%;
        margin: 0 auto;
        position: relative;
        .read-more {
            top: 0;
            position: absolute;
            width: 900px;
            height: 700px;
            left: 10%;
            background-color: #131617;
            padding: 50px 50px 50px 50px;
            .exit {
                right: 10px;
                top: 10px;
                position: absolute;
                cursor: pointer;
            }
            .picture-more {
                width: 650px;
                height: 400px;
                float: left;
                margin: 7px 20px 20px 0;
            }
            .title {
                padding-left: 0;
                color: #FFFFFF;
                font-style: 20px;
            }
        }
        h3 {
            padding-left: 50px;
            color: #6858DC;
            padding-bottom: 50px;
        }
        .wrapper-content {
            .wrapper-content-view {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-height: 400px;
                padding-bottom: 50px;
                .newsSpace {
                    width: 55%;
                    border-radius: 30px 0 0 0;
                }
                .title {
                    width: 40%;
                    background-color: #131617;
                    font-size: 12px;
                    border-radius: 0 20px 0 0;
                    padding: 10px 15px 15px 15px;
                    position: relative;
                    .more {
                        position: absolute;
                        bottom: 15px;
                        font-size: 14px;
                        cursor: pointer;
                        color: #6858DC;
                    }
                    .more:hover {
                        border-bottom: 1px solid #6858DC;
                    }
                }
            }
            .news-container {
                display: flex;
                flex-direction: row;
                gap: 15px;
                padding-bottom: 40px;
                flex-wrap: wrap;
                .news-item {
                    width: 23%;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 50px;
                    border-radius: 20px;
                    color: #e2e2e2;
                    &-tags {
                        display: flex;
                        gap: 10px;
                        padding: 10px;
                        span {
                            padding: 5px 10px;
                            font-size: 11px;
                            background-color: #6858DC;
                            color: #fff;
                            border-radius: 15px;
                        }
                    }
                    img {
                        height: 240px;
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .new-tags {
        color: #e2e2e2;
        height: 50px;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        img {
            padding-right: 5px;
        }
        .add {
            padding-left: 20px;
            color: #82ED2E;
            cursor: pointer;
        }
    }
}

.content {
    height: 100px;
    overflow: clip;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
}

.filters mat-form-field {
    margin-right: 10px;
}

.filters button {
    margin-top: 10px;
    border-radius: 15px;
    width: 130px;
    height: 35px;
    background-color: #6858DC;
}

@media (max-width: 950px) {
    .wrapper-content-view {
        display: none !important;
    }
}