:host {
    .tabs {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        a {
            text-decoration: none;
            color: #181818;
        }
        a:hover {
            color: #6858DC;
        }
    }
}