<div class="header">
	<div class="buttons">
		<button mat-flat-button class="back-btn" (click)="goBack()">
			<mat-icon>
				arrow_back
			</mat-icon>
			Назад
		</button>
		<button mat-flat-button class="logout-btn" (click)="logout()">
			<mat-icon>
				logout
			</mat-icon>
			Выход
		</button>
	</div>
	
	<h1>Панель администратора</h1>
</div>

<main class="main">

	<div class="tabs">
		<a routerLink="shows" [skipLocationChange]="true">
			Представления
		</a>
		<a routerLink="sessions" [skipLocationChange]="true">
			Сеансы
		</a>
		<a routerLink="bookings" [skipLocationChange]="true">
			Билеты
		</a>
		<a routerLink="news" [skipLocationChange]="true">
			Новости
		</a>
		<a routerLink="tags" [skipLocationChange]="true">
			Категории
		</a>
	</div>

	<div class="tab-content">

		<router-outlet></router-outlet>

	</div>

</main>