<div>
	<h3>Обновление сеанса</h3>
</div>
<form [formGroup]="form" class="form" mat-dialog-content>

	<div>
		<h3 class="show-name">Показ: {{ session.showTitle }}</h3>
	</div>

	<mat-form-field appearance="fill">
		<mat-label>Укажите дату</mat-label>
		<input 
		matInput 
		[min]="today" 
		[matDatepicker]="picker" 
		formControlName="date">
		<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Выберите время</mat-label>
		<mat-select formControlName="time">
		  <mat-option *ngFor="let time of timeslots" [value]="time">
			{{ time }}
		  </mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Адрес</mat-label>
		<input 
			formControlName="address"
			matInput>

		<mat-error>
			<val-errors controlName="address"></val-errors>
		</mat-error>
	</mat-form-field>

	<div class="message-box">
		<span *ngIf="messageText">{{ messageText }}</span>
	</div>

	<div class="footer">
		<button mat-flat-button (click)="cancel()">Отмена</button>
		<button mat-flat-button
		color="accent"
		(click)="submit()">Обновить</button>
	</div>
</form>