:host {
	display: block;
	min-width: 400px;
	padding: 10px 20px;
}

.message-box {
	height: 12px;
	font-size: 12px;
	color: tomato;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.show-name {
	color: #fff;
}