<div class="title-wrapper container">
    <h2 class="title">Представления</h2>
</div>

<div class="main container">

    <div class="row">
        <button mat-raised-button
        color="primary"
        (click)="createShow()">Добавить представление</button>
    </div>

    <table mat-table [dataSource]="shows" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let show"> {{show.id}} </td>
        </ng-container>

        <ng-container matColumnDef="poster">
            <th mat-header-cell *matHeaderCellDef>Постер</th>
            <td mat-cell *matCellDef="let show">
                <img class="poster-img" [src]="show.poster_src" alt="">
                <!-- <img class="poster-img" [src]="(api + '/posters/' + show.poster_src) | safeUrl" alt=""> -->
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Название</th>
            <td mat-cell *matCellDef="let show"> {{show.title}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Цена билета</th>
            <td mat-cell *matCellDef="let show">{{show.price}} BYN</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="right">Управление</th>
            <td mat-cell *matCellDef="let show" class="right">
                <div class="actions">
                    <button
                    mat-flat-button
                    color="accent"
                    class="round-btn"
                    (click)="editShow(show)">
                        <span class="material-icons-outlined">
                            mode
                        </span>
                    </button>
                    <button 
                    mat-flat-button
                    class="round-btn warn"
                    (click)="deleteShow(show, $event)">
                        <span class="material-icons-outlined fix-width">
                            delete_outlined
                        </span>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

</div>