.poster-img {
    height: 80px;
    width: 70px;
    object-fit: cover;
}

.right {
    text-align: right;
}

table {
    margin-top: 10px;
}

.tags-col {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    & span {
        padding: 5px 8px;
        color: #000;
        font-size: 12px;
        background-color: var(--secondary);
        border-radius: 10px;
        cursor: pointer;
    }
}

.news-title {
    display: block;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row {
    padding: 10px 0;
}

.fix-width {
    width: 24px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.table-scroller {
    overflow-x: auto;
}