<div class="wrapper" *ngIf="show$ | async as show">
    <div class="leftside">
        <img [src]="'http://localhost:5050/posters/' + show.poster_src" alt="">
        <div class="leftside-description">
            <div class="text">
                <h4>Описание</h4>
                <span>{{ show.descr }}</span>
            </div>
            <div class="text" *ngIf="show.director">
                <h4>Режиссер</h4>
                <span>{{ show.director }}</span>
            </div>
            <div class="text" *ngIf="show.country">
                <h4>Страна</h4>
                <span>{{ show.country }}</span>
            </div>
        </div>
    </div>

    <div class="rightside">
        <div class="rightside-header">
            <span class="title">{{show.title}}</span>
            <div class="header-info">
            </div>
        </div>

        <div class="filters" [formGroup]="filtersForm">

            <mat-form-field class="address-select" appearance="fill">
                <mat-label>Адрес</mat-label>
                <mat-select formControlName="address">
                  <mat-option *ngFor="let addr of showAddresses" [value]="addr">
                    {{ addr }}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Выберите дату</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                <mat-hint>ММ/ДД/ГГ</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-radio-group class="timeslots" formControlName="time" *ngIf="availableTimeslots.length > 0">
                <mat-radio-button class="timeslot" *ngFor="let timeslot of availableTimeslots" [value]="timeslot.time">
                    {{ timeslot.time }}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="seat-map" [class.blocked]="isMapBlocked">

            <svg class="seat-map-svg" #seatMapContainer (click)="onMapClick($event)"></svg>
            <ng-container *ngIf="!showSeatsMap"
                [ngTemplateOutlet]="noTimeslots">
            </ng-container>
        </div>

        <div class="booking-submit" *ngIf="showSeatsMap">
            <div class="seat-examples">    
            </div>

            <div class="price">
                <span *ngFor="let seat of pickedSeats">
                    <span>
                        {{ seat.side === 'left' ? 'Слева' : 'Справа' }}, ряд {{ seat.row }}, место {{ seat.place }}.
                    </span>
                </span>
            </div>

            <button (click)="onBook()" [disabled]="pickedSeats.length === 0">Забронировать</button>
        </div>

    </div>

</div>

<ng-template #noTimeslots>
    <p class="map-message">Нет доступного времени для выбранного места и даты.</p>
</ng-template>