<section>
    <div class="view-wrapper">

        <div class="leftside">
            <h3>Мобильный планетарий<br/> в <span>Минске</span></h3>
            <span>Полет к звездам — реальность</span>
            <a mat-flat-button color="primary" routerLink="../sessions">Выбрать сеанс</a>
        </div>

        <div class="rightside">
            <img src="/assets/images/humanOnPlanet.png" alt="">
        </div>

    </div>
</section>

<section>
    <div class="info-wrapper">
        <span class="info-wrapper-title">В нашем учебном центре можно:</span>
        <div class="info-cards">
            <div class="info-card UFO">
                <img src="assets/images/UFO.png" alt="">
                <span>Посетить музей НЛО</span>
            </div>

            <div class="info-card Human">
                <img id="RunningHuman" src="assets/images/RunningHuman.png" alt="">
                <span>Ощутить себя настоящим космонавтом</span>
            </div>


            <div class="info-card Telescope">
                <img src="assets/images/Telescope.png" alt="">
                <span>Увидеть звезды</span>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="rental-wrapper">
        <span class="rental-wrapper-title">Сейчас в планетарии</span>
        <div class="rental-more">
            <img src="assets/images/calendar.png" alt="">
            <span>Расписание сеансов</span>
        </div>
        <div class="rental-slides">
            <div class="rental-slide" *ngFor="let show of shows">
                <img [src]="show.poster_src" alt="">
                <!-- <img [src]="(api + '/news/' + show.poster_src) | safeUrl" alt=""> -->
                <h3>{{ show.title }}</h3>
                <a mat-flat-button color="primary" routerLink="../sessions">Купить билет</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="news-wrapper">
        <span class="news-wrapper-title">Новости планетария</span>
        <div class="news">
            <div *ngFor="let item of news" class="news-item" (click)="openNewsDialog(item)">
                <img [src]="item.photo" alt="">
                <!-- <img [src]="(api + '/news/' + item.photo) | safeUrl" alt=""> -->
                <div class="content">
                    <h1>
                        {{ item.title }}
                    </h1>
                    <p>
                        {{ item.text[0] }}
                    </p>
                    <div class="news-item-tags" *ngIf="item.tags.length > 0">
                        <span *ngFor="let tag of item.tags" class="tag-item">
                            {{ tag.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-news">
            <a mat-flat-button color="primary" routerLink="../news">Больше новостей</a>
        </div>
    </div>
</section>
<section class="sec-videos-wrapper">
    <div class="videos-wrapper">
        <span class="video-wrapper-title">Интересное о космосе</span>
        <div class="videos">
            <div class="video">
                <video controls="controls">
                    <source src="assets/video/video2.mp4">
                   </video>
            </div>
            <div class="video">
                <video controls="controls">
                    <source src="assets/video/video1.mp4">
                   </video>
            </div>
            <div class="video">
                <video controls="controls">
                    <source src="assets/video/video3.mp4">
                   </video>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="questions-wrapper">
        <span class="questions-wrapper-title">Часто задаваемые вопросы:</span>
        <div class="questions-content">
            <div class="questions-content-accordion">
                <mat-accordion>
                    <ng-container *ngFor="let item of questionsView">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{item.ask}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{item.content}}</p>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </div>
            <div class="nearAccordion"><img src="assets/images/nearAccordion.png" alt=""></div>

        </div>
    </div>
</section>


<!-- <section>
    <div class="wrapper-customQuestion">
        <div class="customQuestion-content">
            <h3>Остались вопросы?</h3>
            <mat-form-field appearance="outline">
                <mat-label>Ваша почта</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Вопрос</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" class="text">
                <mat-label>Опишите вашу проблему</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary">Отправить</button>
        </div>
    </div>
</section> -->