<div class="tags">
    <span class="tag-item" [class.user]="tag?.hasUser" *ngFor="let tag of data.tags" (click)="clickTag(tag, $event)">
        {{ tag.name }}
    </span>
</div>
<div class="header">
    <h1 class="title">{{ data.title }}</h1>
</div>
<mat-dialog-content>
    <div class="text">
        <img class="news-photo" [src]="data.photo">
        <!-- <img class="news-photo" [src]="(api + '/news/' + data.photo) | safeUrl"> -->
    
        <p *ngFor="let paragraph of data.text">
            {{ paragraph }}
        </p>
    </div>
</mat-dialog-content>