:host {
    color: #000;
}

h1 {
    padding-left: 30px;
}

.news-photo {
    width: 400px;
    height: 300px;
    object-fit: cover;
    float: left;
    padding: 0 30px 30px 0;
}

.text {
    width: 750px;
    text-align: justify;
    margin: 30px;
}