:host {
    color: #000;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

h1 {
    padding-left: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
    /* Центрирует блок по горизонтали */
}

::ng-deep .mat-mdc-dialog-container {
    width: 90%;
}

.tags {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }
}

.tag-item {
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #555;
    cursor: pointer;
    &.user {
        background-color: #000;
        color: #fff;
        position: relative;
        padding-left: 24px;
        &::before {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 12px;
            height: 6px;
            border-radius: 2px;
            background-color: transparent;
            border: 2px solid transparent;
            border-bottom-color: #fff;
            border-left-color: #fff;
            transform: rotate(-45deg);
        }
    }
}

.mdc-dialog__container {
    width: 80%;
}

.news-photo {
    width: 400px;
    height: 300px;
    object-fit: cover;
    float: left;
    padding: 0 30px 30px 0;
}

.text {
    width: 750px;
    text-align: justify;
    margin: 30px;
}