$secondary: #e7d795;
$bg: #424242;

:host,
:root {
    --secondary: #{$secondary};
    --bg: #{$bg};
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #1b1b1b;
}

.mdc-menu-surface {
    background-color: $bg;    
}

body {
	.mdc-notched-outline .mdc-floating-label {
		max-width: unset;
	}

	.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
		color: #fff;
	}

	.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
		font-size: 1em;
	}
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, 
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
	background: var(--secondary);
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
	color: var(--secondary);
}

::ng-deep .mat-mdc-progress-bar {
	--mdc-linear-progress-active-indicator-color: #6858DC;
}