@import "src/fonts.scss";
@import "src/overrides.scss";

body {
    margin: 0;
    background: rgba(#1F232E, 1.0);
    background-image: url('/assets/images/mainBgc.png');
    background-repeat: no-repeat;
    font-size: 14px;
    color: #ffffff;
}

body {

    // .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    //     height: 28px;
    // }

    .mat-date-range-input-container {
        height: 100%;
    }
}

.mat-datepicker-input.mat-mdc-input-element.mat-mdc-form-field-input-control {
    color: #fff;
}

.mdc-form-field>label {
    color: #ffffff !important;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: #82ED2E;
    --mdc-radio-selected-pressed-icon-color: #82ED2E;
    --mat-mdc-radio-checked-ripple-color: #82ED2E;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
    color: #ffffff !important;
}

* {
    font-family: "ttTravel";
}

html,
body {
    height: 100%;
    
}

body {
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

button.disabled {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

.mat-mdc-unelevated-button.round-btn {
    min-width: unset;
    width: 42px;
    height: 42px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 50%;
    padding: 0;

    &.warn {
        color: #fff;
        background-color: #1F232E;
    }
}

.section-title {
    color: var(--secondary);
}

val-errors div {
    display: inline;
    font-size: 12px;
}

@media (max-width: 480px) {
    .cdk-overlay-pane {
        max-width: 98vw !important;
    }
}